[{:name      "Moleque de Ideias"
  :website   "https://www.molequedeideias.net/"
  :apply     "https://www.molequedeideias.net/"
  :situation :unavailable}
 {:name      "CSD BR"
  :website   "https://csdbr.com"
  :apply     "rh@csdbr.com"
  :situation :unavailable}
 {:name      "B2W"
  :website   "https://www.b2wmarketplace.com.br"
  :apply     "https://b2w.gupy.io/"
  :situation :eventual-use}
 {:name      "Quinto Andar"
  :website   "https://www.quintoandar.com.br/"
  :apply     "https://apply.workable.com/quintoandar/"
  :situation :eventual-use}]
