[{:title      "Sênior Software Engineer",
  :url        "https://captalys.gupy.io/jobs/548436"
  :location   "São Paulo - SP"
  :department "Tecnologia Suporte"
  :remote     true
  :type       "Full-time employee"
  :name       "Captalys"}
 
 {:title      "Clojure Backend Developer",
  :url        "https://github.com/renatoalencar/clojure-empregos-brasil/issues/4"
  :location   "Remoto"
  :department ""
  :remote     true
  :type       ""
  :name       "K2 Partnering"}]
