[{:title      "Sênior Software Engineer",
  :url        "https://captalys.gupy.io/jobs/548436"
  :location   "São Paulo - SP"
  :department "Tecnologia Suporte"
  :remote     true
  :type       "Full-time employee"
  :name       "Captalys"}]
